# Relatório de análise IV

### Seleções e Frequências

In [1]:
import pandas as pd

In [5]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [6]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

### Selecionar somente os imóveis classificados com tipo 'Apartamento'

In [14]:
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

### Selecionar os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [15]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

### Selecionar os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites 60 <= Área <= 100

In [18]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <=100)
n3 = dados[selecao].shape[0]
n3

8719

### Selecionar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [20]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

### Printar resultados

In [21]:
print("Nº de imóveis classificados com tipo 'Apartamento':{}".format(n1))

print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila':{}".format(n2))

print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites:{}".format(n3))

print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00:{}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento':19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila':2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites:8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00:41