# Relatório de análise VIII

## Frequência de imóveis por quantidade de quartos

In [32]:
import pandas as pd
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor/m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

### Identificar faixas de número de quartos e criar lista com limite das faixas

In [33]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

### Criar recorte do campo Quartos de dados separado pelos limites de classes

In [34]:
quartos = pd.cut(dados['Quartos'], classes)

In [35]:
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

### Criar etiquetas para os valores

In [36]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

### Incluir etiquetas na variável de recorte de Quartos por classes

In [37]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels)

In [38]:
pd.value_counts(quartos)

1 e 2 quartos        11250
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

### Atualizar etiqueta  e incluir no recorte o valor mínimo 0 para a faixa de número de quartos

In [39]:
labels = ['0 a 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [40]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels, include_lowest= True)

### Mostrar valores atualizados (com zero incluído)

In [41]:
pd.value_counts(quartos)

0 a 2 quartos        11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64